body {
	background-color:lightgreen;
}

.button{
	width:80px;
	height:50px;
	font-size: 30px;
}

.buttoneq{
	width:164px;
	height:50px;
	font-size: 30px;
}

#display{
	width:330px;
	height:50px;
	font-size: 30px;
	text-align: right;
}